In [1]:
# Importing Packages 
import yfinance as yf
from yahoofinancials import YahooFinancials
import os
import pandas as pd
import json
import requests

In [14]:

EURUSD = yf.download("EURUSD=X", start = '2006-9-14', end = '2021-5-30', group_by = "ticker")
USDJPY = yf.download(" USDJPY=X", start = '2006-9-14', end = '2021-5-30', group_by = "ticker")
GBPUSD = yf.download("GBPUSD=X", start = '2006-9-14', end = '2021-5-30', group_by = "ticker")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close  Volume
Date
2006-09-14  1.877687  1.891217  1.875997  1.885903   1.885903       0
2006-09-15  1.885796  1.888396  1.875891  1.877899   1.877899       0
2006-09-18  1.878217  1.883984  1.874309  1.881184   1.881184       0
2006-09-19  1.881184  1.888360  1.878005  1.881786   1.881786       0
2006-09-20  1.881751  1.892613  1.880901  1.887291   1.887291       0
...              ...       ...       ...       ...        ...     ...
2021-05-24  1.414027  1.417133  1.411851  1.414287   1.414287       0
2021-05-25  1.415689  1.421040  1.411771  1.415609   1.415609       0
2021-05-26  1.414327  1.417635  1.411931  1.414387   1.414387       0
2021-05-27  1.411313  1.419487  1.409225  1.411612   1.411612       0
2021-05-28  1.420354  1.420656  1.413707  1.420374   1.420374       0

[3802 rows x 6 columns]

In [16]:
USDJPY = currencies['USDJPY=X'].drop(columns=['Adj Close', 'Volume'])
GBPUSD = currencies['GBPUSD=X'].drop(columns=['Adj Close', 'Volume'])
EURUSD = currencies['EURUSD=X'].drop(columns=['Adj Close', 'Volume'])