In [22]:
# Importing Packages 
import yfinance as yf
from yahoofinancials import YahooFinancials
import os
import pandas as pd
import json
import requests
import numpy as np
import pandas_ta as ta
import talib

In [23]:
# Downloading the data from yahoo finance
EURUSD_df = yf.download("EURUSD=X", start = '2006-9-14', end = '2021-5-30', group_by = "ticker")
USDJPY_df = yf.download(" USDJPY=X", start = '2006-9-14', end = '2021-5-30', group_by = "ticker")
GBPUSD_df = yf.download("GBPUSD=X", start = '2006-9-14', end = '2021-5-30')
GBPUSD_df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close  Volume
Date
2006-09-14  1.877687  1.891217  1.875997  1.885903   1.885903       0
2006-09-15  1.885796  1.888396  1.875891  1.877899   1.877899       0
2006-09-18  1.878217  1.883984  1.874309  1.881184   1.881184       0
2006-09-19  1.881184  1.888360  1.878005  1.881786   1.881786       0
2006-09-20  1.881751  1.892613  1.880901  1.887291   1.887291       0
...              ...       ...       ...       ...        ...     ...
2021-05-24  1.414027  1.417133  1.411851  1.414287   1.414287       0
2021-05-25  1.415689  1.421040  1.411771  1.415609   1.415609       0
2021-05-26  1.414327  1.417635  1.411931  1.414387   1.414387       0
2021-05-27  1.411313  1.419487  1.409225  1.411612   1.411612       0
2021-05-28  1.420354  1.420656  1.413707  1.420374   1.420374       0

[3802 rows x 6 columns]

In [24]:
# Calling RSI and STOCHASTIC indicator from pandas_ta for USDJPY_df
EURUSD_df['RSI'] = EURUSD_df.ta.rsi().dropna()

In [25]:
# Calling RSI and STOCHASTIC indicator from pandas_ta for USDJPY_df
USDJPY_df['RSI'] = USDJPY_df.ta.rsi().dropna()
#USDJPY_df['STOCHk_14_3_3','STOCHd_14_3_3'] = USDJPY_df.ta.stoch()

In [26]:
# Calling RSI and STOCHASTIC indicator from pandas_ta for USDJPY_df
GBPUSD_df['RSI'] = GBPUSD_df.ta.rsi().dropna()

In [27]:
# Reversal patterns of the hammer and the shooting star for EURUSD


shooting_star_eurusd = talib.CDLSHOOTINGSTAR(EURUSD_df['Open'],EURUSD_df['High'],EURUSD_df['Low'] , EURUSD_df['Close'])
hammer_pattern_eurusd = talib.CDLHAMMER(EURUSD_df['Open'],EURUSD_df['High'],EURUSD_df['Low'] , EURUSD_df['Close'])

Identify the trading signals

In [28]:
# Generate the trading signal 0, 1, or 2
# Where 2 is when RSI is greater than 70 and shooting star shows up, 1 is when RSI is lesser than 30 and 
#hammer shows up and 0 when the condition is not met 
conditions = [(EURUSD_df['RSI'] >=  70) &  (shooting_star_eurusd  != 0), (EURUSD_df['RSI'] <=  30) &  (hammer_pattern_eurusd != 0)]
values = [1,2]

EURUSD_df["Signal"] = np.select(conditions, values)
print(EURUSD_df[EURUSD_df['Signal'] == 2])

                Open      High       Low     Close  Adj Close  Volume  \
Date
2008-09-03  1.451800  1.453172  1.438870  1.448604   1.448604       0
2010-02-05  1.374476  1.374608  1.358806  1.368008   1.368008       0
2010-05-17  1.237226  1.241064  1.224605  1.239296   1.239296       0
2012-05-30  1.247816  1.248595  1.239157  1.247816   1.247816       0
2015-03-11  1.070939  1.071455  1.056140  1.070870   1.070870       0

                  RSI  Signal
Date
2008-09-03  21.962197       2
2010-02-05  24.174746       2
2010-05-17  24.965234       2
2012-05-30  25.893842       2
2015-03-11  19.980131       2

In [29]:
# Add the trade_type column to track buys and sells
EURUSD_df[“trade_type”] = np.nan
GBPUSD_df[“trade_type”] = np.nan
USDJPY_df[“trade_type”] = np.nan

SyntaxError: invalid character in identifier (<ipython-input-29-62aee7f5b959>, line 2)